* {
    margin: 0;
    padding: 0;
    }
    
    header {
    width: 100%;
    position: fixed;
    background-color: rgb(254, 250, 246);
    z-index: 20;
    
    & nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    
    & h1 {
    font-size: xx-large;
    }
    
    & button {
    border: none;
    background: none;
    font-size: medium;
    font-weight: 600;
    color: rgb(82, 82, 82);
    transition: .3s ease-in-out;
    
    &:hover {
    color: rgb(15, 15, 15);
    }
    }
    }
    }
    
    section.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    justify-content: center;
    
    
    & img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    object-fit: cover;
    height: 100vh;
    opacity: 90%;
    z-index: -1;
    }
    
    & .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.219);
    padding: 1.5rem;
    margin: 20rem;
    gap: 14px;
    border-radius: 20px;
    
    & h3 {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    }
    & h2{
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    }
    & p {
    font-size: 1.2rem;
    text-align: center;
    }
    
    & button{
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: .3s ease-out;
    
    &:hover {
    transform: scale(110%) translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.67) 0px 15px 10px -7px;
    }
    }
    }
    }
    
    body {
    margin: 0;
    height: 100vh;
    }